@charset "UTF-8";

$blanc:#fff;
$back:#fff;
$noir: #000;
$close: '../images/close.svg';

////// Notre normalization /////////
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol, ul{
  list-style: none;
}
a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1; }
[data-whatinput='mouse'] button {
  outline: 0; }
textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0; }
select {
  width: 100%;
  border-radius: 0; }
.is-visible {
  display: block !important; }
.is-hidden {
  display: none !important; }
.is-rev{
 unicode-bidi:bidi-override;
 direction: rtl;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
  margin: 0;
  padding: 0; }
p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility; }
em,i {
  font-style: italic;
  line-height: inherit; }
strong,b {
  font-weight: bold;
  line-height: inherit; }
small {
  font-size: 80%;
  line-height: inherit; }
h1,h2,h3,h4,h5,h6 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1; }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  line-height: 0;
}
a {
  line-height: inherit;
  cursor: pointer;

}
a:hover, a:focus {

}
a img {
  border: 0;
}
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    transition: all 0.30s ease-in-out;
    outline: none; 
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
/////////////

//@font-face {
//  font-family: "Dosis-Bold";
//  src: url("../font/Dosis-Bold.eot");
//  src: url("../font/Dosis-Bold.eot?#iefix") format("embedded-opentype"),
//  url("../font/Dosis-Bold.woff2") format("woff2"),
//  url("../font/Dosis-Bold.woff") format("woff"),
//  url("../font/Dosis-Bold.ttf") format("truetype"),
//  url("../font/Dosis-Bold.svg#Dosis") format("svg");
//  font-style: normal;
//  font-weight: normal;
//}

#add-file{
  position: relative;
}